{% include 'Emails/parts/header.html.twig' %}

<p style="color: #ffffff; font-size: 20px; text-align:center">
	Prosím dokončete registraci na <a href="{{ url }}" style="color:#ffffff;">stránce s potvrzením registrace</a>.</p>
<br>

{% include 'Emails/parts/footer.html.twig' %}