{% include 'Emails/parts/header.html.twig' %}

<p style="color: #ffffff; font-size: 20px; text-align:center">
	Pro obnovu zapomenutého hesla navštivte odkaz níže:<br><br></p>

<p style="color: #ffffff; font-size: 20px; text-align:center">
	Pokud o změně nevíte, prosím otevřete odkaz na <a href="{{ url }}" style="color:#ffffff;">obnova&nbsp;hesla</a>.</p>
<br>

{% include 'Emails/parts/footer.html.twig' %}