<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
</head>
<body>
    <style type="text/css">
        /* Základní styly */
        body {
            margin: 0 !important;
            padding: 0;
            background-color: #ffffff;
        }
        table {
            border-spacing: 0;
            font-family: sans-serif;
            color: #333333;
        }
        .helpers{
            width: 100%;
            max-width: 600px;
        }
        td {
            padding: 0;
        }
        img {
            border: 0;
        }
        div[style*="margin: 16px 0"] { 
            margin:0 !important;
        }   
        .wrapper {
            width: 100%;
            table-layout: fixed;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        .webkit {
            max-width: 600px;
            padding: 10px;
            padding-bottom: 0;
            margin: 0 auto;
        }
        .outer {
            Margin: 0 auto;
            width: 100%;
            max-width: 600px;
        }
        .full-width-image img {
            width: 100%;
            max-width: 600px;
            height: auto;
        }
        .header-full-image-1 img{
            width: 100%;
            max-width: 177px;
            height: auto;            
        }
        .red{
            border-bottom: 5px #da0303 solid;
        }
        .spacer{
            line-height: 30px;
            font-size: 30px;
        }
        .spacersmall{
            line-height: 20px;
            font-size: 20px;
        }
        .spacersmaller{
            line-height: 15px;
            font-size: 15px;
        }
        .spacersmallest{
            line-height: 5px;
            font-size: 5px;
        }
        
        /* One column layout */
        .one-column .contents {
            text-align: left;
        }
        .one-column p {
            font-size: 14px;
            Margin-bottom: 10px;
        }

        /*Two column layout*/
        .two-column {
            text-align: center;
            font-size: 0;
        }

        .two-column .column {
            width: 100%;
            max-width: 300px;
            display: inline-block;
            vertical-align: top;
        }
        .contents {
            width: 100%;
        }
        .two-column .contents {
            font-size: 14px;
            text-align: left;
        }
        .two-column img {
            height: auto;
        }
        .two-column .text {
            padding-left: 10px;
        }        

        /* Left sidebar layout */
        .left-sidebar {
            text-align: center;
            font-size: 0;
        }
        .left-sidebar .column {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        .left-sidebar .left {
            max-width: 140px
        }
        .left-sidebar .right {
            max-width: 500px;
            padding-left: 20px;
        }
        .left-sidebar .img {
            width: 100%;
            max-width: 116px;
            height: auto;
        }        
        .left-sidebar .inner-left {
            text-align: left;
        }
        .left-sidebar .contents {
            font-size: 14px;
            text-align: left;
        }
        .left-sidebar a {
            color: #85ab70;
        }

        /*Three column layout*/
        .three-column {
            text-align: center;
            font-size: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .three-column .column {
            width: 100%;
            max-width: 177px;
            display: inline-block;
            vertical-align: top;
        }
        .three-column .column2 {
            width: 100%;
            max-width: 396px;
            display: inline-block;
            vertical-align: top;
        }
        .three-column .column3 {
            width: 100%;
            max-width: 169px;
            display: inline-block;
            vertical-align: top;
        }
        .three-column .contents {
            font-size: 14px;
            text-align: center;
        }
        .three-column img {
            width: 100%;
            max-width: 180px;
            height: auto;
        }
        .three-column .text {
            padding-top: 10px;
        }

        /*Four column layout*/
        .four-column {
            text-align: center;
            font-size: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .four-column .column {
            width: 100%;
            max-width: 150px;
            display: inline-block;
            vertical-align: top;
        }
        .four-column .contents {
            font-size: 14px;
            text-align: center;
        }
        .four-column img {
            width: 100%;
            max-width: 132px;
            height: auto;
        }
        .four-column .text {
            padding: 0 10px;
            text-align: left;
        }
        .four-column .rtext {
            padding: 0 10px;
            text-align: right;
        }

        /* Hidding some content in mobile */
        @media screen and (max-width: 600px){
            .mobilehidden{ display:none; }
            .left-sidebar .right { padding-left: 0; }
        }
    </style>

    <center class="wrapper">
        <div class="webkit">
            <!--[if (gte mso 9)|(IE)]>
            <table width="770" align="center">
            <tr>
            <td>
            <![endif]-->
            <table class="outer" align="center">
                <tr>
                    <td class="full-width-image">
                        <img src="img/header-enl.jpg" width="600" alt="" />
                    </td>
                </tr>
                <tr>
                    <td class="one-column" bgcolor="#006287">
                        <table width="100%">
                            <tr>
                                <td width="60">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td class="inner contents">