.dice-count, .dice-count input 
	font-size: 20px;

.box 
	width: 500px;
	border: 1px solid black;
	text-align: center;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-contents: center;
	margin: 5px;

#dice-box1 
	height: 100%;
	position: absolute;
	z-index:999999;
	width: 100%;
	pointer-events: none;

#dice-box2 
	height: 200px;

.plays.again
	background: url(Dice-6.png) no-repeat center left;
	background-size: 30%;
