<div class="help">
    <div class="help__wrapper">
        <ul class="help__slides" style="width: 300%; height: 162px;">
            <li class="active">
                <div class="help__content">
                    <span class="help__number">01</span>
                    <p>
                        Prvním krokem je registrace.
                    </p>
                </div>
            </li><!--
         --><li>
                <div class="help__content">
                    <span class="help__number">02</span>
                    <p>
                        Po té odpovíš na otázky
                    </p>
                </div>
            </li><!--
         --><li>
                <div class="help__content">
                    <span class="help__number">03</span>
                    <p>
                        A soutěžíš o zájezd v hodnotě 150 000,-
                    </p>
                </div>
            </li>
        </ul>
        <div class="help__footer">
            <a class="icon icon-arrow-blue-left arrow"></a>
            <p class="info">
                Nápověda <strong class="page">1/3</strong>
            </p>
            <a class="icon arrow icon-arrow-blue-right"></a>
        </div>
    </div>
    <a href="" class="help__button"></a>
</div>