<div class="col-12 text-center">
    <h3 class="odpocet" id="odpocet-2" data-konec="12/24/2063 15:18:40" data-hlaska="Čas vypršel!" data-zbyva="Kvíz končí za:">Kvíz končí za: 45 let 297 dnů 2 hodiny 12 minut 57 vteřin</h3>
</div>

<div class="quiz-selectable quiz-pictures" id="quiz-selectable">
    <div class="quiz-picture" data-rel="1">1</div>
    <div class="quiz-picture" data-rel="4">4</div>
    <div class="quiz-picture" data-rel="7">7</div>
    <div class="quiz-picture" data-rel="2">2</div>
    <div class="quiz-picture" data-rel="5">5</div>
    <div class="quiz-picture" data-rel="8">8</div>
    <div class="quiz-picture" data-rel="6">6</div>
    <div class="quiz-picture" data-rel="9">9</div>
    <div class="quiz-picture" data-rel="3">3</div>
</div>

<script>
    odpocet(document.getElementById('odpocet-2'))
</script>
