#pl1prop 
	text-align: left;
	

.table .center 
	background:transparent; z-index: 1;

.plays-1 .center
	transform: rotate(180deg);

.plays-1 #pl2prop, .plays-1 #pl1prop
	transform: rotate(-180deg);


#pl1prop .properties-header
	vertical-align: bottom;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255,255,255,.7);
	padding: 20px;
	border-radius: 38%;


#pl2prop .properties-header
	vertical-align: bottom;
	position: absolute;
	bottom:0;    
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255,255,255,.7);
	padding: 20px;
	border-radius: 38%;


#pl2prop
	grid-column: 5 / 7;
	grid-row: 5 / 7;
	margin-top: -188px;
	margin-right: -245px;
	grid-column: 5 / 7;
	grid-row: 5 / 7;
	transform: rotate(318deg);
	border-radius: 50%;
	height:100%;
	overflow: hidden;
	border-right: 0;
	border:4px #fff solid;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.1) inset;    
	transition:2s all;
	opacity: 0;
	visibility: hidden;
	min-height: 400px;     
	float: left;
	margin-top: -523px;
	margin-left: -91px;




#pl1prop
	text-align: left;
	top: 0;
	position: relative;
	margin-top: -474px;
	margin-left: -129px;
	border:4px #fff solid;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.1) inset;    
	transform: rotate(318deg);
	border-radius: 50%;
	transition:2s all;
	opacity: 1;
	background-size: 100%;
	visibility: visible;
	 min-height: 400px;
	margin-top: -45px;
	margin-right: -459px;
	text-align: right;   






#pl2prop video
	position: relative;
	width: 100%;
	height: auto;
	z-index: -1;
	position: relative;    