.video-container-pop, video { background-color: #ffffff !important; }

#menu { background-color:#ffffff !important; }

*:not(.full-width.footer a i) {	font-family: 'Roboto', sans-serif !important; }
html:not(.full-width.footer a i) {	font-family: 'Roboto', sans-serif !important; }

.button_container span { background: #f28130 none repeat scroll 0% 0% !important; }

.full-width.footer { background-color:#fff !important; color: #f28130 !important; }
.full-width.footer a i { color: #f28130 !important; }

.overlay { background: #fff none repeat scroll 0% 0% !important; }
.overlay a { color: #f28130 !important; }

#video-container { padding-bottom:0 !important; }

#menu-device { background-color:#fff !important; }

.project, #video-container{ background:#fff !important; }