{% extends '/Frontend/layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="text-center" style="background-color: #b5f34d; height: 200px">
            <p style="padding-top: 50px">Rules</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% include 'Frontend/block/top-players.html.twig' %}
    </div>
</div>
{% endblock %}
