<section class="footer row">
	<div id="search_anchor" class="box">
		<div class="search_form">
			<form method="get" action="http://tv.nova.cz/hledat/">
				<input class="input_text" value="" type="text" size="25" placeholder="Hledat" accesskey="4" name="search">
				<input type="hidden" name="msite_origin" value="20000" id="header_search_msite_origin_footer">
				<input type="submit" name="search_submit" value="" class="input_submit">
			</form>
		</div>
	</div>

	<div class="footer_box">
		<ul>
			<li><a href="http://tv.nova.cz/kontakty">Kontakty a dohled</a></li>
			<li><a href="http://www.novagroup.cz/kdo-jsme/management">Management</a></li>
			<li><a href="http://www.novagroup.cz/obchod/televizni-reklama" target="_blank">Reklama</a></li>
			<li><a href="http://pressweb.nova.cz/">Press</a></li>
			<li><a href="http://tv.nova.cz/nadacenova">Nadace Nova</a></li>
			<li><a href="http://tv.nova.cz/rubrika/projekty">Naše projekty</a></li>
			<li><a href="http://tv.nova.cz/partnerstvi">Mediální partnerství</a></li>
		</ul>
	  	<ul>
			<li><a href="http://tv.nova.cz/casting">Casting</a></li>
			<li><a href="http://nova.jobs.cz/" target="_blank">Volná místa</a></li>
			<li><a target="_top" href="http://tv.nova.cz/rubrika/herni-rady">Herní řády</a></li>
			<li><a href="http://tv.nova.cz/napoveda" class="help">Nápověda</a></li>
			<li class="podminky"><a href="http://tv.nova.cz/podminky" target="_blank">Všeobecné podmínky</a></li>
		</ul>
		<ul>
			<li class="rss"><a href="/rss">RSS</a></li>
			<li class="write_us"><a href="http://tv.nova.cz/rubrika/napistenam">Napište nám</a></li>
			<li class="nova_hd"><a href="http://tv.nova.cz/hd"><span>Nova HD</span></a></li>
		</ul>

		<div class="disclaimer">
			<p class="copyright">© TV Nova s.r.o.</p>
			<p>Společnost TV Nova s.r.o. využívá zpravodajství ČTK, jehož
				obsah je chráněn autorským zákonem. Přepis, šíření či další
				zpřístupňování tohoto obsahu či jeho části veřejnosti, a to
				jakýmkoliv způsobem, je bez předchozího souhlasu ČTK výslovně zakázáno.
			</p>
			<p>
				Copyright (2012) The Associated Press (AP) - všechna práva
				vyhrazena. Materiály agentury AP nesmí být dále publikovány,
				vysílány, přepisovány nebo redistribuovány.
			</p>
		</div>
	</div>
</section>