<section id="nova_header_wrap" class="box row">
	<div id="nova_header" class="box">
		<div class="nova_header_responsive">
			<div class="logo">
				<a href="http://tv.nova.cz"><strong>nova.cz</strong></a>
			</div>
			
			<div class="search_form">
				<form onsubmit="return check_empty()" method="get" action="http://tv.nova.cz/hledat/">
					<input onfocus="change_class(header_search_input)" id="header_search_input" class="input_text" value="" type="text" size="25" accesskey="4" name="search" maxlength="128">
					<input type="hidden" name="msite_origin" value="112000" id="header_search_msite_origin">
					<input type="submit" name="search_submit" value="" class="input_submit">
				</form>
			</div>
			
			<a class="search_anchor" href="#search_anchor"><span>Hledej</span></a>
		  	
		  	<input type="checkbox" id="nav-expand">
			
			<ul id="nova_menu">
				<li class="shows">
					<a href="javascript:void(0);">TV &amp; pořady</a> 
					<span>|</span> 
					<span class="break"><br></span>

					<div id="drop_submenu" style="display: none;">
						<div class="drop_submenu_prewrap">
							<div class="drop_submenu_wrap">
								<ul class="channels">
									<li class="all"><span>Všechny kanály</span></li>
									<li class="nova_cz"><a href="http://tv.nova.cz/"><span>Nova</span></a></li>
									<li class="smichov"><a href="http://nova2.nova.cz"><span>Smíchov</span></a></li>
									<li class="nova_cinema"><a href="http://cinema.nova.cz/"><span>Nova Cinema</span></a></li>
									<li class="fanda"><a href="http://action.nova.cz/"><span>Fanda</span></a></li>
									<li class="telka"><a href="http://gold.nova.cz/"><span>Telka</span></a></li>
									<li class="nova_sport"><a href="http://tn.nova.cz/sport/"><span>Nova Sport</span></a></li>
								</ul>
								<div class="shows">
									<ul class="shows_col">
										<li><span>A</span>
											<ul>
												<li><a href="http://atentat.nova.cz" title="Atentát">Atentát</a></li>
											</ul>
										</li>
										<li><span>B</span>
											<ul>
												<li><a href="http://dobroty.nova.cz/" title="Babicovy dobroty"><strong>Babicovy dobroty</strong></a></li>
												<li><a href="http://novaplus.nova.cz/porad/brana-do-historie/" title="Brána do historie"><strong>Brána do historie</strong></a></li>
											</ul>
										</li>
										<li><span>C</span>
											<ul>
												<li><a href="http://tv.nova.cz/co-na-to-cesi" title="Co na to Češi"><strong>Co na to Češi</strong></a></li>
												<li><a href="http://comeback.nova.cz/" title="Comeback">Comeback</a></li>
											</ul>
										</li>
										<li><span>D</span>
											<ul>
												<li><a href="http://damaakral.nova.cz" title="Dáma a král"><strong>Dáma a král</strong></a></li>
											</ul>
										</li>
										<li><span>E</span>
											<ul>
												<li><a href="http://expozitura.nova.cz/" title="Expozitura">Expozitura</a></li>
											</ul>
										</li>
										<li><span>G</span>
											<ul>
												<li><a href="http://gympl.nova.cz/" title="Gympl">Gympl</a></li>
											</ul>
										</li>
									</ul>

									<ul class="shows_col">
										<li><span>H</span>
											<ul>
												<li><a href="http://helena.nova.cz/" title="Helena">Helena</a></li>
												<li><a href="http://hlascs.nova.cz/" title="Hlas ČeskoSlovenska">Hlas ČeskoSlovenska</a></li>
												<li><a href="http://nova.cz/rubrika/holky-pod-zamkem" title="Holky pod zámkem"><strong>Holky pod zámkem</strong></a></li>
												<li><a href="http://novaplus.nova.cz/porad/hrave-zdrave-s-kristinou/" title="Hravě zdravě"><strong>Hravě zdravě</strong></a></li>
												<li><a href="http://tv.nova.cz/hvezdna-party" title="Hvězdná párty"><strong>Hvězdná párty</strong></a></li>
											</ul>
										</li>
										<li><span>CH</span>
											<ul>
												<li><a href="http://tv.nova.cz/chartshow/" title="Chart Show"><strong>Chart Show</strong></a></li>
											</ul>
										</li>
										<li><span>K</span>
											<ul>
												<li><a href="http://tv.nova.cz/rubrika/kobra-11" title="Kobra 11"><strong>Kobra 11</strong></a></li>
												<li><a href="http://koreni.nova.cz/" title="Koření"><strong>Koření</strong></a></li>
												<li><a href="http://kriminalka.nova.cz/" title="Kriminálka Anděl"><strong>Kriminálka Anděl</strong></a></li>
											</ul>
										</li>
										<li><span>M</span>
											<ul>
												<li><a href="http://malelasky.nova.cz/" title="Malé lásky"><strong>Malé lásky</strong></a></li>
												<li><a href="http://novaplus.nova.cz/porad/maminy-s-rozumem/" title="Maminy s rozumem"><strong>Maminy s rozumem</strong></a></li>
												<li><a href="http://masterchef.nova.cz/" title="MasterChef Česko"><strong>MasterChef Česko</strong></a></li>
												<li><a href="http://novydomov.nova.cz" title="Mise nový domov"><strong>Mise nový domov</strong></a></li>
											</ul>
										</li>
									</ul>

									<ul class="shows_col">
										<li><span>N</span>
											<ul>
												<li><a href="http://novaplus.nova.cz/porad/na-baru-videochat-s-celebritou/" title="Na baru"><strong>Na baru</strong></a></li>
												<li><a href="http://navode.nova.cz" title="Na Vodě"><strong>Na Vodě</strong></a></li>
												<li><a href="http://mojemama.nova.cz/" title="Nejlíp vaří moje máma"><strong>Nejlíp vaří moje máma</strong></a></li>
												<li><a href="http://tv.nova.cz/noc" title="Noc filmových nadějí">Noc filmových nadějí</a></li>
											</ul>
										</li>
										<li><span>O</span>
											<ul>
												<li><a href="http://okresniprebor.nova.cz/" title="Okresní přebor">Okresní přebor</a></li>
												<li><a href="http://ordinace.nova.cz/" title="Ordinace v růžové zahradě"><strong>Ordinace v růžové zahradě</strong></a></li>
											</ul>
										</li>
										<li><span>P</span>
											<ul>
												<li><a href="http://modrava.nova.cz/" title="Policie Modrava"><strong>Policie Modrava</strong></a></li>
												<li><a href="http://prvnikrok.nova.cz/" title="První krok">První krok</a></li>
											</ul>
										</li>
										<li><span>R</span>
											<ul>
												<li><a href="http://loskutak.nova.cz/" title="Rady ptáka loskutáka"><strong>Rady ptáka loskutáka</strong></a></li>
												<li><a href="http://robinson.nova.cz/" title="Robinsonův ostrov"><strong>Robinsonův ostrov</strong></a></li>
											</ul>
										</li>
									</ul>

									<ul class="shows_col">
										<li><span>S</span>
											<ul>
												<li><a href="http://snidane.nova.cz/" title="Snídaně s Novou"><strong>Snídaně s Novou</strong></a></li>
												<li><a href="http://tv.nova.cz/rubrika/soudy-klary-slamove" title="Soudy Kláry Slámové"><strong>Soudy Kláry Slámové</strong></a></li>
												<li><a href="http://specialiste.nova.cz/" title="Specialisté"><strong>Specialisté</strong></a></li>
												<li><a href="http://strepiny.nova.cz/" title="Střepiny"><strong>Střepiny</strong></a></li>
												<li><a href="http://superstar2018.nova.cz/" title="SuperStar 2018"><strong>SuperStar 2018</strong></a></li>
											</ul>
										</li>
										<li><span>T</span>
											<ul>
												<li><a href="http://tvnoviny.nova.cz/" title="Televizní noviny"><strong>Televizní noviny</strong></a></li>
												<li><a href="http://tescoma.nova.cz/" title="Tescoma s chutí"><strong>Tescoma s chutí</strong></a></li>
												<li><a href="http://novaplus.nova.cz/porad/trendy-trendy/" title="Trendy Trendy"><strong>Trendy Trendy</strong></a></li>
												<li><a href="http://tvojetvar.nova.cz" title="Tvoje tvář má známý hlas"><strong>Tvoje tvář má známý hlas</strong></a></li>
											</ul>
										</li>
										<li><span>U</span>
											<ul>
												<li><a href="http://halina.nova.cz/" title="U Haliny v kuchyni">U Haliny v kuchyni</a></li>
												<li><a href="http://ulice.nova.cz/" title="Ulice"><strong>Ulice</strong></a></li>
											</ul>
										</li>
										<li><span>V</span>
											<ul>
												<li><a href="http://novaplus.nova.cz/porad/vase-tema/" title="Vaše téma"><strong>Vaše téma</strong></a></li>
												<li><a href="http://vikend.nova.cz/" title="Víkend"><strong>Víkend</strong></a></li>
												<li><a href="http://volejtenovu.nova.cz/" title="Volejte Novu"><strong>Volejte Novu</strong></a></li>
												<li><a href="http://vymena.nova.cz/" title="Výměna manželek"><strong>Výměna manželek</strong></a></li>
											</ul>
										</li>
									</ul>
	
									<div class="clear"></div>
								</div>
	
								<div class="pointer"></div>
							</div>
						</div>
					</div>
				</li>
				<li><a href="http://superstar2018.nova.cz/" >SuperStar 2018</a> <span>|</span> </li>
				<li><a href="http://tv.nova.cz/hd-rozcestnik">NOVA HD</a> <span>|</span> </li>
				<li><a target="_blank" href="http://novaplus.nova.cz/">NOVA Plus</a> <span>|</span> </li>
				<li><a target="_blank" href="http://voyo.nova.cz/">VOYO</a> <span>|</span> </li>
				<li><a target="_blank" href="http://tvprogram.nova.cz">Program</a> <span>|</span> </li>
				<li><a target="_blank" href="http://tn.nova.cz/">Zprávy</a> <span>|</span> </li>
				<li class="casting"><a href="http://tv.nova.cz/casting" target="_blank">Casting</a> <span>|</span> </li>
				<li class="casting"><a href="http://tv.nova.cz/souteze" target="_blank">Soutěže</a>  <span>|</span> </li>
				<li class="hbbtv last"><a href="http://tv.nova.cz/hbbtv" target="_blank">HbbTV</a></li>
			</ul>
			<label for="nav-expand" id="nav-expand-trigger">Menu</label>
		</div>
	</div>
</section>